# Pandas Series

A Series is a one-dimensional labeled array.

It can store:<br>
numbers, strings, booleans, etc.

Think of Series as:<br>
a single column of a table.

In [7]:
import pandas as pd

## Creating Series from List

In [8]:
data = [10,20,30,40]
s = pd.Series(data)

s

0    10
1    20
2    30
3    40
dtype: int64

Each value has an index automatically assigned.

In [9]:
s.index
s.values

array([10, 20, 30, 40])

## Custom Index

In [10]:
s = pd.Series([100,200,300], index=["a","b","c"])
s

a    100
b    200
c    300
dtype: int64

## Accessing Elements

In [11]:
s["a"]
s["c"]

np.int64(300)

## Mathematical Operations

In [12]:
s + 10
s * 2

a    200
b    400
c    600
dtype: int64

## Series from Dictionary

In [13]:
data = {"Delhi":40, "Mumbai":35, "Chennai":38}
temp = pd.Series(data)

temp

Delhi      40
Mumbai     35
Chennai    38
dtype: int64

## Handling Missing Values

In [14]:
temp.isnull()
temp.notnull()

Delhi      True
Mumbai     True
Chennai    True
dtype: bool

## Basic Statistics

In [15]:
temp.mean()
temp.max()
temp.min()

np.int64(35)

## Conclusion

Series is the building block of DataFrame.